/*@media (max-width: 980px){
	.head-wrapper {
	 width: 980px;
	}
	.menu-wrapper {
		width: 980px;
	}
	.content-wrapper {
		width: 980px;
	}
	.foot-wrapper {
		width: 980px;
	}
}
*/
	

@media (min-width: 981px) {
	.head-wrapper {
		width: 100%
	}
	.menu-wrapper {
		width: 100%
	}
	.content-wrapper {
		width: 100%
	}
	.foot-wrapper {
		width: 100%
	}
}


@media (min-width: 768px) and (max-width: 979px) {
.header {
	width: 100%;
}

.menu {
	width: 100%;
	& a {
	font-size: 22px;
}
}

.content {
	width: 100%;
	margin-bottom: 100px;
 &__news {
 	width: 37%;
 }

 &__text {
 	width: 55%;
 }

 & h1 {
 	font-size: 30px;
 }

 a,p {
 	font-size: 12px;
 }
}

 .footer {
	width: 100%;

	a,p {
		font-size: 12px;
	}
}
}

@media (max-width: 767px) {

.head__wrapper {
	background-color: $color-link;
}
	.header {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 20px 0px 20px 0px;

		&__logo {
			margin-bottom: 20px;
		}
	}

	.menu {
				
  & ul {
  	flex-direction: column;
  }

  & li {
  	display: flex;
  	justify-content: center;
  }

  &__item-border {
	border-right: none;
	border-bottom: 2px solid #fff;
}
	}

	.carusel {
		display: none;
	}

	.content {
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;

		&__news {
			width: 100%;
			padding:0;
			display: flex;
			align-items: center;

			h1,ul {
				margin-left: 34px;
			}
		}
		&__text {
			width: 100%;

			h1 {
				line-height: 43px;
			}
		}
	}

	.footer {
		flex-direction: column;
		align-items: center;

		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__menu {
			margin: 20px 0px 20px 0px;

			li {
				display: flex;
				justify-content: center;
			}
		}
	}

	}