

$ff-Open_Sans: 'Open Sans', sans-serif;
$ff-Open_Sans_Cund: 'Open Sans Condensed', sans-serif;

$fz-title: 40px;
$fz-menu: 30px;
$fz-text: 14px;

$bcg-head: #dcdcdc;
$bcg-color: #777777;

$color-phone: #767676;
$color-link: #fff;
$color-text: #767676;
